h1, h2 {
  font-size: 1.25em;
}

.reveal section p {
  text-align: left;
}

.reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}

.reveal .slides {
  margin-left: 0;
  margin-right: 0;
}

.reveal .left {
  float: left;
  width: 50%;
}

.reveal .right {
  float: right;
  width: 50%;
}
